# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


boost_1_48_0/*
*.psess
*.sdf
*.sln
*.vcxproj*
*.obj
*.opensdf
*.idb
*.pdb
*.tlog
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.cache
*.deps
*.manifest
freeglut-2.8.0/*
glew-1.8.0/*
jpeg-9/*
lib/*
lib64/*
*.exe
